<p><%= t("emails.password_reset.body") %></p>
<p><%= link_to t("emails.password_reset.reset_button"), edit_password_url(@user.password_reset_token) %></p>
<p><%= t("emails.password_reset.expire_notice") %></p>
