# SQLite Multi-Database 설정
# 코어 앱 + 플러그인별 독립 DB 구조
default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  pragmas:
    journal_mode: wal
    synchronous: normal
    mmap_size: 134217728  # 128MB
    cache_size: -20000    # 20MB

development:
  primary:
    <<: *default
    database: storage/development.sqlite3
  queue:
    <<: *default
    database: storage/development_queue.sqlite3
    migrations_paths: db/queue_migrate

test:
  primary:
    <<: *default
    database: storage/test.sqlite3
  queue:
    <<: *default
    database: storage/test_queue.sqlite3
    migrations_paths: db/queue_migrate

production:
  primary:
    <<: *default
    database: "/storage/production.sqlite3"
  queue:
    <<: *default
    database: "/storage/production_queue.sqlite3"
    migrations_paths: db/queue_migrate
